import React, { FC } from 'react';

import s from './{{pascalCase name}}.module.scss';

interface Props {

}

const {{pascalCase name}} = ({}: Props) => {
  return (
    <div>{{pascalCase name}} component</div>
  );
};

export default {{pascalCase name}};
